*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}


.page-header{
    background-color: #000;
    display:flex;
    justify-content:center;
    padding:28px 0;
}

.header-logo{
    display:block;
}

.main-banner{
    width:100%;
}

.main-banner-mobile{
    width:100%;
}

.top-infocard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:66px;
}

.top-infocard-subtitle{
    font-weight: normal;
    font-size: 32px;
    text-transform: uppercase;
}

.top-infocard-title{
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}

.top-infocard-text{
    font-size: 16px;
    line-height: 24px;
    max-width: 766px;
    font-weight: normal;
    margin-top:6px;
}

.top-infocard-image{
    margin-top:66px;
}

.top-cards{
    margin: 187px 0 80px;
    display:grid;
    grid-template-columns: repeat(3, max-content);
    gap:20px; 
    justify-content:center;
    margin: 188px 0 80px;
}

.top-card{
    max-width:350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    padding:36px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.top-card-image{
    display:flex;
    align-self: center;
    margin-bottom: 28px;
}

.top-card-text{
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.middle-cards{
    background-color:#E0E0E0;
    display:grid;
    grid-template-columns: repeat(3, max-content);
    justify-content:center;
    align-items:center;
    gap:32px;
    height:442px;
}

.middle-cards-mobile, .middle-card-last{
    display:flex;
    gap:32px;
    width: 100%;
}

.middle-card-image{
    max-width:520px;
    margin-top:63px;
}

.main-cards{
    margin-top: 280px;
    gap:16px;
    display:grid;
    grid-template-columns: repeat(4, max-content);
    justify-content:center;
    align-items:center;
}

.main-card{
    display:flex;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    padding:36px;
    flex-direction: column;
    align-items:center;
    max-width:432px;
}

.main-card-text{
    max-width:368px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


.bottom-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 138px 0 51px;
    width:100%;
}

.bottom-banner-subtitle{
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
}

.bottom-banner-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width:550px;
    margin:18px 0 32px;
}

.bottom-banner-image{
    max-width:1360px;
}

.bottom-banner-image-mobile{
    width:100%;
    margin-bottom:52px;
}

.page-footer{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background: #000000;
    padding: 38px 0;
}

.footer-icons{
    display:flex;
    list-style:none;
    margin-bottom: 16px;
}

.footer-icon{
    margin: 0 8px;
}

.footer-text{
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    color:#BDBDBD;
}

@media screen and (max-width: 414px){
    .main-banner{
        display:none;
    }
    .top-cards{
        grid-template-columns: max-content;
        margin: 80px 0 80px;
    }
    .top-infocard-subtitle{
        font-weight: normal;
        font-size: 20px;    
    }
    .top-infocard-title{
        font-size: 28px;
    }
    .top-infocard-text{
        max-width: 358px;
        text-align: center;
    }
    .middle-cards{
        grid-template-columns: max-content;
    }
    .middle-cards-mobile{
        grid-template-columns: repeat(2, 1fr);
        gap:14px; 
    }
    .middle-card{
        max-width:178px;
    }
    .middle-card-last{
        max-width:368px;
    }
    .middle-card-image{
        max-width:178px;
    }
    .middle-card-image-2{
        max-width:368px;
    }

    .main-cards{
        grid-template-columns: max-content;
    }
    
    .main-card{
        max-width:368px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
        padding:36px;
    }
    
    .main-card-image{
        display:block;
        max-width:104px;
    }

    .main-card-text{
        font-size: 14px;
        max-width:302px;
    }

    .bottom-banner-image{
        display:none;
    }

    .bottom-banner-subtitle{
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
    }

    .bottom-banner-text{
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        max-width:350px;
    }

    .footer-text{
        max-width: 262px;
    }
}

@media screen and (min-width: 415px) {
    .main-banner-mobile,.bottom-banner-image-mobile{
        display:none;
    }
}